.header {
	margin: 120px auto;
}
.header span {
	display: block;
}
.form-group {
	border: 5px solid #2727d9;
	padding: 9px 15px;
}
.form-header {
	margin: 33px 45px;
	color: #333;
	font-size: 20px;
	font-weight: 700;
}
.form-control {
	margin-bottom: 9px;
}

.btn {
	margin-bottom: 26px;
}
.btn-advantage {
	margin-top: 99px;
}
.img-fluid{
	padding-bottom: 33px;
}

p {
	font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    color: #333;
    text-align: center;
}